<!doctype html>
<html lang="en" data-bs-theme="auto">
{% extends 'base.html' %}

{% block content %}
{% load static %}
<main>
  <section class="py-0 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Willkommen auf unserer Seite!</h1>
        <p class="lead text-body-secondary">Und wenn du was zu melden hast... </p>
          <a href="mailto:dievaalser@gmail.com
          ?subject=Meldung auf Schreib Uns!
          &body=Hallo Vaalser," class="btn btn-primary my-2">Schreib Uns!</a>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for username, userinfo in creators.items %}
        <div class="col">
          <div class="card shadow-sm">
            {% if userinfo.author_icon == None %}
            <img class="card-img-top" src="{% static 'anonymous.png' %}">
            {% else %}
            <img class="card-img-top" src="{{ userinfo.author_icon.url }}">
            {% endif %}
            <div class="card-body">
              <h1 class="card-text text-center">{{ username }}</h1>
              <p class="card-text text-center">Joined: {{ userinfo.joined }}</p>
              <p class="card-text text-center">Last Login: {{ userinfo.last_login }}</p>
              <p class="card-text text-center">Upvotes: {{ userinfo.upvotes }}</p>
              <p class="card-text text-center">Blogs created: {{ userinfo.blogs_created }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
</html>
