<!doctype html>
<html lang="en" data-bs-theme="auto">
{% extends 'base.html' %}

{% block content %}
<main>
  <div class="container">
    <h1 class="text-center pt-4">Sign Up</h1>
    <form method="POST" action="{% url 'signup' %}" class="text-center">
      {% csrf_token %}
      Username:
      <br/>
      <input type="text" name="username" />
      <br/>
      Password:
      <br/>
      <input type="password" name="password1" />
      <br/>
      Confirm Password:
      <br/>
      <input type="password" name="password2" />
      <br/>
      Email:
      <br/>
      <input type="email" name="email1" />
      <br/>
      <input class="btn btn-primary my-2" type="submit" value="Sign Up!">
    </form>
    <h5 class="text-center pt-4">
      {% if error %}
      <br/>
      {{ error }}
      <br/>
      {% endif %}
    </h5>
  </div>
</main>
{% endblock %}

</html>
