<!doctype html>
<html lang="en" data-bs-theme="auto">
{% extends 'base.html' %}

{% block content %}
<main>
  <section class="py-0 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Vaalser Tagebuch</h1>
        <p class="lead text-body-secondary">Chaos inklusive... </p>
      </div>
    </div>
    {% for blog in blogs.all %}

    <div class="row pt-3">
      <div class="col-2" onclick="window.location='{% url 'detail' blog.id %}';" style="cursor: pointer;">
        <img src="{{ blog.image.url }}" class="img-fluid"/>
      </div>
      <div class="col-8" onclick="window.location='{% url 'detail' blog.id %}';" style="cursor: pointer;">
        <h3> {{ blog.title }} </h3>
        <p> {{ blog.summary }} </p>
      </div>
      <div class="col-2">
        <a href="javascript:{document.getElementById('upvote{{ blog.id }}').submit()}">
        <button class="btn btn-primary btn-md btn-block">
          <svg width="48" height="48" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M15.25 14.25L12 10.75L8.75 14.25"/>
          </svg>
           Upvote {{ blog.votes_total }}
        </button>
      </a>
      </div>
    </div>
    <form id="upvote{{ blog.id }}" method="POST" action="{% url 'upvote' blog.id %}">
      {% csrf_token %}
      <input type="hidden"/>
    </form>
    {% endfor %}
  </section>
</main>
{% endblock %}

</html>
