<!doctype html>
<html lang="en" data-bs-theme="auto">
{% extends 'base.html' %}

{% block content %}
<main>
  <div class="container">
    <h1 class="text-justify pt-4">Neuer Eintrag</h1>
    <h5 class="text-justify pt-4">
      {% if error %}
      {{ error }}
      <br/>
      {% endif %}
    </h5>
    <form method="POST" action="{% url 'create' %}" enctype="multipart/form-data" class="text-justify">
      {% csrf_token %}
      <br/>
      <label for="pub_date">Datum:</label>
      <input type="date" id="pub_date" name="pub_date" />
      <br/><br/>
      <label for="title">Titel:</label>
      <input type="text" id="title" name="title" maxlength="64" placeholder="Kurz und knackig, bitte." size="48" required/>
      <br/><br/>
      <label for="body">Text:</label><br/>
      <textarea id="body" name="body" rows="4" cols="50"
                placeholder="Gerade so viel, dass ein unbefangener Leser es verstehen kann." required></textarea>
      <br/><br/>
      <label for="url">URL:</label>
      <input type="url" id="url" name="url" placeholder="Link zu Post oder Video?" size="48"/>
      <br/><br/>
      <label for="image">Bild:</label><br/>
      <input type="file" id="image" name="image" required/>
      <br/><br/>
      <label for="author_icon">Autorenbildchen:</label><br/>
      <input type="file" id="author_icon" name="author_icon"/>
      <br/><br/>
      <input class="btn btn-primary my-2" type="submit" value="Veröffentlichen!">
    </form>
  </div>
</main>
{% endblock %}

</html>
