<!doctype html>
<html lang="en" data-bs-theme="auto">
{% extends 'base.html' %}

{% block content %}
<main>
  <section class="py-0 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Willkommen auf unserer Seite!</h1>
        <p class="lead text-body-secondary">Und wenn ihr was zu melden habt,... </p>
          <a href="mailto:cstarke75@gmail.com
          ?subject=Meldung auf Schreibt Uns!
          &body=Hallo Vaalser," class="btn btn-primary my-2">Schreibt Uns!</a>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for member in members.all %}
        <div class="col">
          <div class="card shadow-sm">
            <img class="card-img-top" src="{{ member.image.url }}">
            <div class="card-body">
              <h1 class="card-text text-center">{{ member.full_name }}</h1>
              <p class="card-text text-center">{{ member.abstract }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
</html>
